 .parallax {
    /* The image used */
    background: url('./img/placeOrderBg.jpg');

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quotes-area {
    background: url('../img/placeOrderBg1.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.quotes-content h3 {
    font-size: 42px;
    color: #fff;
    margin-bottom: 25px;
    font-size: 800;
}

.quotes-content p {
    color: #fff;
}

.quotes-content a {
    margin-top: 25px;
}

.quotes-area i.fa.fa-pencil {
    font-size: 16px;
    padding-right: 6px;
}

.btn-placeOrder {
    color: #F3A2C1;
    background-color: #E02E73;
    border-color: #130269;
}

.btn-placeOrder:hover,
.btn-placeOrder:focus,
.btn-placeOrder:active,
.btn-placeOrder.active,
.open .dropdown-toggle.btn-placeOrder {
    color: #F3A2C1;
    background-color: #8F0037;
    border-color: #130269;
}

.btn-placeOrder:active,
.btn-placeOrder.active,
.open .dropdown-toggle.btn-placeOrder {
    background-image: none;
}

.btn-placeOrder.disabled,
.btn-placeOrder[disabled],
fieldset[disabled] .btn-placeOrder,
.btn-placeOrder.disabled:hover,
.btn-placeOrder[disabled]:hover,
fieldset[disabled] .btn-placeOrder:hover,
.btn-placeOrder.disabled:focus,
.btn-placeOrder[disabled]:focus,
fieldset[disabled] .btn-placeOrder:focus,
.btn-placeOrder.disabled:active,
.btn-placeOrder[disabled]:active,
fieldset[disabled] .btn-placeOrder:active,
.btn-placeOrder.disabled.active,
.btn-placeOrder[disabled].active,
fieldset[disabled] .btn-placeOrder.active {
    background-color: #E02E73;
    border-color: #130269;
}

.btn-placeOrder .badge {
    color: #E02E73;
    background-color: #F3A2C1;
}