{% extends 'base/base.html' %} {% load staticfiles %} {% block title_block %} Article {% endblock %} {% block body_block %}

<div class="container" >
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <article>
        <h1><a href="{{ link }}" target="_blank">{{ title }}</a></h1>

        <div class="row">
          <div class="col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href=" {{ link }}" target="_blank" >Source</a> &nbsp;&nbsp;
          </div>
          <div class="col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-time"></span> {{ date }}
          </div>
        </div>

        <hr>

        <img src=" {{ image }}" class="img-responsive">

        <br />
<!--
        <p class="lead">Aries is the first sign of the zodiac, and that's pretty much how those born under this sign see themselves: first. Aries are the leaders of the pack, first in line to get things going. Whether or not everything gets done is another question altogether,
          for an Aries prefers to initiate rather than to complete. Do you have a project needing a kick-start? Call an Aries, by all means. The leadership displayed by Aries is most impressive, so don't be surprised if they can rally the troops against
          seemingly insurmountable odds.</p>
-->
        <p>
        {{ article_body|safe }}
        </p>
      </article>
      <hr>


      <ul class="pager">
        <li class="previous"><a href="{% url 'suggested' %}">&larr; Back to suggested</a></li>
      </ul>



      <hr />

    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>




{% endblock %}
