{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Welcome to NewsRebels
{% endblock %}
{% block body_block %}

<center>
<h1>Quick guide through our site.</h1>

<object style="height: 390px; width: 640px">
  <param name="movie" value="http://www.youtube.com/v/v1gTI4BOPUw?version=3">
  <param name="allowFullScreen" value="true">
  <param name="allowScriptAccess" value="always">
  <embed src="https://www.youtube.com/watch?v=XJU1MnwtwmQ" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390">
</object>
<center>

{% endblock %}
